.nav_links {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav_links:hover {
    background-color: #ddd;
    color: black;
}

.nav_links.active {
    background-color: #f36100;
    color: white;
}