.input_container {
    position: relative;
    margin: 20px;
}

.input_field {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
}

.input_highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #f36100;
    transition: all 0.3s ease;
}

.input_field:focus+.input-label {
    top: -20px;
    font-size: 12px;
    color: #f36100;
}

.input_field:focus+.input_highlight {
    width: 100%;
}

/* Rating */

.rating:not(:checked)>input {
    position: absolute;
    appearance: none;
}

.rating:not(:checked)>label {
    float: right;
    cursor: pointer;
    font-size: 30px;
    color: #666;
}

.rating:not(:checked)>label:before {
    content: '★';
}

.rating>input:checked+label:hover,
.rating>input:checked+label:hover~label,
.rating>input:checked~label:hover,
.rating>input:checked~label:hover~label,
.rating>label:hover~input:checked~label {
    color: #e58e09;
}

.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
    color: #ff9e0b;
}

.rating>input:checked~label {
    color: #ffa723;
}